.header {
 position: absolute;
 width: 100%;
 z-index: 50;
 left: 0;
 top: 35px;


 @media (max-width: 768px) {
  top: 15px;
 }

 &__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
 }

 &__menu {}

 &__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0px, 0px);
  z-index: 55;
 }
}

.menu {

 &__body {}

 &__list {
  display: flex;

  li {
   position: relative;
   padding: 0px 37.5px;

   &:nth-child(2) {
    padding: 0px 110px 0px 37.5px;
   }

   &:nth-child(3) {
    padding: 0px 37.5px 0px 110px;

   }

   &:after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #4d4959;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.5px;
   }

   &:last-child,
   &:nth-child(2) {
    &:after {
     display: none;
    }
   }
  }
 }

 &__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  transition: 0.3s ease;

  &:hover {
   color: #64c29e;
  }

  &:active {
   position: relative;
   top: 2px;
  }
 }

 @media (max-width: 768px) {
  &__body {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: #4d4959;
   overflow: auto;
   padding-top: 150px;
   transform: translate3d(0, -100%, 0);
   transition: 0.3s cubic-bezier(0, 0.97, 0.79, 0.93);

   &.active {
    transform: translate3d(0, 0, 0);
   }
  }


  &__list {
   flex-direction: column;
   justify-content: center;
   align-items: center;

   li {
    padding: 0px 0px 35px 0px;


    &:nth-child(2),
    &:nth-child(3) {
     padding: 0px 0px 35px 0px;
    }

    &:nth-child(2):after {
     display: block;
    }

    &:after {
     width: 4px;
     height: 4px;
     background-color: #fff;
     right: 50%;
     top: 40px;
     margin-right: -2px;
    }
   }
  }

  &__link {
   color: #fff;
   font-size: 20px;
  }
 }
}

.menu-icon {}

.icon-menu {
 @media (max-width: 768px) {
  display: block;
  position: absolute;
  top: 18px;
  right: 25px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;

  &.active {
   span {
    background-color: #fff;

    &:first-child {
     transform: rotate(-45deg);
     top: 8px;
    }

    &:nth-child(2) {
     display: none;
    }

    &:last-child {
     transform: rotate(45deg);
     top: 8px;
    }
   }
  }

  span {
   transition: 0.3s ease;
   top: 8px;
   left: 0px;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #4d4959;

   &:first-child {
    top: 0px;
   }

   &:last-child {
    top: auto;
    bottom: 0px;
   }
  }
 }
}